<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blogpostfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a621248a-f21f-4175-a909-c52b75ec4384/resourceGroups/BlogPostProject/providers/Microsoft.Web/sites/BlogPostFunctions</ResourceId>
    <UserName>$BlogPostFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://blogpostfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>